@import url('https://fonts.googleapis.com/css2?family=Vollkorn&&display=swap;700&family=Roboto&display=swap');

body {
  font-family: Roboto, "sans-serif";
  background: rgb(250, 251, 252) none repeat scroll 0% 0%;
}

.header {
  padding: 1em;
  position: sticky;
  top: 0;
  background: rgb(250, 251, 252);
}

.header-title {
  font-family: "Vollkorn", "sans-serif";
  font-weight: 400;
  font-size: 24px;
  line-height: normal;
  margin-bottom: 0;
  cursor: pointer;
  transition: all 300ms;
}

.header-title:hover {
  color: #0069d9;
}

.jumbotron-title {
  font-family: "Vollkorn", "sans-serif";
  font-size: 40px;
}

.library {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
  align-items: center;
  justify-content: space-evenly;
}

.margin-0 {
  margin: 0;
}

.margin-left-8 {
  margin-left: 8px;
}

.margin-tb-24 {
  margin: 24px 0px;
}

.pad-0 {
  padding: 0;
}

.pad-tb-24 {
  padding: 24px 0;
}

.pad-bottom-24 {
  padding-bottom: 24px;
}

.full-height {
  height: 100vh;
}

.card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1 0 auto;
  font-family: "Vollkorn";
}

.card-title-folder {
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor-pointer {
  cursor: pointer;
}

.fw {
  width: 100%;
}

.fh {
  height: 100%;
}

.height-140 {
  height: 140px;
}

.height-225 {
  height: 225px;
}

.jc-space-between {
  justify-content: space-between;
}

.react-pdf__Document {
  border-radius: 0.25rem;
  width: 100%;
  overflow: hidden;
}

.react-pdf__Page {
  width: 100%;
  height: 100%;
}

.react-pdf__Page__svg {
  width: auto !important;
  height: auto !important;
  border-radius: 0.25rem;
}

.react-pdf__Page__svg:empty {
  padding-bottom: 141.453%;
}

.react-pdf__Page__svg svg {
  border-radius: 0.25rem;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border .2s ease-in-out;
  min-height: 150px;
  align-items: center;
  justify-content: center;
}

.dropzone:hover {
  border-color: rgb(51, 158, 243);
  cursor: pointer;
}

.card {
  transition: all 300ms;
}

.card:hover {
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.25);
  color: #0069d9;
}
