@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Roboto&display=swap');

body {
  font-family: Roboto, "sans-serif";
}

.header > h1 {
  width: 100vw;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Catamaran", "sans-serif";;
  font-weight: 700;
}

.library {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
  align-items: center;
  justify-content: space-evenly;
}

.modal-width-fit-content {
  width: fit-content;
  max-width: unset;
}